<%= t '.home_page' %>

<% @about.each do |a| %>
	<h1><%= a.title %></h1>
	<p><%= a.body %></p>
<% end %>


<% @location.each do |a| %>
	<h1><%= a.title %></h1>
	<p><%= a.body %></p>
<% end %>


<% @speakers.each do |a| %>
	<h1><%= a.title %></h1>
	<p><%= a.body %></p>
<% end %>


<% @schedule.each do |a| %>
	<h1><%= a.title %></h1>
	<p><%= a.body %></p>
<% end %>


<% @sponsors.each do |a| %>
	<h1><%= a.title %></h1>
	<p><%= a.body %></p>
<% end %>


<% @partners.each do |a| %>
	<h1><%= a.title %></h1>
	<p><%= a.body %></p>
<% end %>